.centeredH.focusable((keydown.enter)='resolve()', (keydown.escape)='cancel()', tabindex='0')
  div {{message}}
  button.btn-default((click)='resolve()') Yes
  button.btn-default((click)='cancel()') No
